<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local" value="../../../../dist/nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local">
      <package pattern="AWS.OpenTelemetry.CloudWatch.Plugin" />
      <package pattern="OpenTelemetry.Instrumentation.AWS" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="AWSSDK.*" />
      <package pattern="Google.*" />
      <package pattern="Grpc.*" />
      <package pattern="Microsoft.*" />
      <package pattern="NETStandard.Library" />
      <package pattern="OpenTelemetry" />
      <package pattern="OpenTelemetry.Api" />
      <package pattern="OpenTelemetry.Api.ProviderBuilderExtensions" />
      <package pattern="OpenTelemetry.Exporter.*" />
      <package pattern="OpenTelemetry.Extensions.*" />
      <package pattern="OpenTelemetry.Instrumentation.AspNetCore" />
      <package pattern="OpenTelemetry.Instrumentation.EntityFrameworkCore" />
      <package pattern="OpenTelemetry.Instrumentation.GrpcNetClient" />
      <package pattern="OpenTelemetry.Instrumentation.Http" />
      <package pattern="OpenTelemetry.Instrumentation.StackExchangeRedis" />
      <package pattern="OpenTelemetry.SemanticConventions" />
      <package pattern="Pipelines.Sockets.Unofficial" />
      <package pattern="runtime.*" />
      <package pattern="SQLitePCLRaw.*" />
      <package pattern="StackExchange.Redis" />
      <package pattern="System.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
