name: Release Build
on:
  workflow_dispatch:
    inputs:
      version:
        description: The version to tag the release with, e.g., 1.2.0
        required: true

permissions:
  contents: write

jobs:
  build-sdk:
    uses: ./.github/workflows/main-build.yml
    secrets: inherit
    with:
      caller-workflow-name: 'release_build_workflow'

  create-layer:
    needs: build-sdk
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Download Linux x64 Artifact
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 #v5.0.0
        with:
          name: aws-distro-opentelemetry-dotnet-instrumentation-linux-glibc-x64.zip

      - name: Create layer.zip
        run: cp aws-distro-opentelemetry-dotnet-instrumentation-linux-glibc-x64.zip layer.zip

      - name: Upload layer.zip as artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 #v4.6.2
        with:
          name: layer.zip
          path: layer.zip